.DS_Store

__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/

# Environment and Secrets
.env
*.env
.env.*
secrets.toml
**/.streamlit/secrets.toml

# Databases & local storage
*.db
*.sqlite
*.sqlite3
backend/database/local_history.db

# Datasets
*.csv

# Logs
*.log
backend/logs/

# ML models
*.safetensors
*.pkl
